<div id="comment-<%= comment.id %>">
  [<%= comment.created_at.strftime("%l:%M %p") %>]
  <%= comment.user_id %>: 
  <% if ( current_user && current_user.admin ) || ( current_user && current_user == comment.user ) %>
    <%= link_to "Delete", post_comment_path(@post, comment), method: :delete, remote: true, style: 'float: right' %>
  <% end %>
  <hr />
  <%= comment.body %>
</div>
<br>
<br>